    <footer class="text-muted bg-white">
        <div class="container p-3">
            <img class="p-2 d-block" src="~/images/forage-logo.png" style="width: 80px" />
            <div class="text-muted border-top border-muted p-2 mt-3 small text-center">© 2023 - Forage</div>
        </div>
    </footer>