    <footer class="text-muted bg-white">
        <div class="container">
            <div class="fw-semibold fs-5 p-2">Forage</div>
            <div class="text-muted border-top border-muted p-2">© 2023 - Forage</div>
        </div>
    </footer>