@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<div class="d-flex">
    @if (SignInManager.IsSignedIn(User))
    {
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/bradmeyn.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-left text-small">
                    <li><a class="dropdown-item text-dark" title="Manage">View profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                    
                            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit" class="dropdown-item btn btn-link text-dark">Logout</button>
                            </form>
              
                    </li>
                </ul>
            </div>
    }
    else
    {
            <div>
                <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
            </div>
            <div class="ms-3">
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Register">Sign Up</a>
            </div>
    }
</div>
