@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
            var currentUser = await UserManager.GetUserAsync(User);
            string profileImageUrl = currentUser.ProfileURL;
                    
            <div class="d-flex flex-column flex-lg-row justify-content-md-end">
                <li class="nav-item dropdown">
                <a href="#" class="d-block  w-100 nav-link dropdown-toggle text-center" data-bs-toggle="dropdown" aria-expanded="false">
                    @if (profileImageUrl != null)
                    {
                        <img src="@profileImageUrl" class="rounded-circle border border-primary" width="35" height="35" />
                    }
                    else
                    {
                        <span class=""><i class="bi bi-person-circle fs-3 text-primary"></i></span>
                    }
                    <span class="ms-1">@currentUser.FirstName</span>
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item text-dark" title="Manage"><i class="bi bi-person me-2"></i><span>Profile</span></a></li>
                   
                        <li>
                        <a class="dropdown-item text-dark" aria-current="page" href="/dashboard"><i class="bi bi-speedometer me-2"></i><span>Dashboard</span></a>
                        </li>
                   
               
                    <li>
                        <a class="dropdown-item text-dark" aria-current="page" href="/admin"><i class="bi bi-speedometer me-2"></i><span>Admin</span></a>
                    </li>
               
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                            <button type="submit" class="dropdown-item btn btn-link text-dark"><i class="bi bi-box-arrow-right me-2"></i><span>Logout</span></button>
                        </form>
                    </li>
                </ul>
                    </li>
                    </div>
       
    }
    else
    {
            <div class="d-flex flex-column flex-md-row justify-content-md-end">
            <li class='nav-item mb-2 mb-lg-0 me-lg-2 d-lg-inline-block d-block'>
                <a class="btn btn-primary d-block w-100" asp-controller="Account" asp-action="Login">Login</a>
            </li>
            <li class="nav-item mb-2 mb-lg-0 d-lg-inline-block d-block">
                <a class="btn btn-outline-primary d-block w-100" asp-controller="Account" asp-action="Register">Sign Up</a>
            </li>
            </div>
    }

