<nav
  class="navbar navbar-dark shadow-sm bg-white text-dark "
  style="height: 80px"
>
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="~/images/burger-logo.svg" style="width: 40px" />
      <span class="fs-4 text-dark ms-2">Forage</span>
    </a>
    <partial name="_LoginPartial" />
  </div>
  
</nav>
