@using Forage.ViewModels 
@model RegisterViewModel 
@{ ViewData["Title"] = "Signup"; }

<div class="container my-3">
@if (TempData["Error"] != null)
    {
    <div
      class="alert alert-danger alert-dismissible fade show small mx-auto"
      role="alert"
      style="max-width: 500px;"
    >
      <div class="fw-bold"><i class="bi bi-exclamation-circle"></i> <span>@TempData["Error"]</span></div>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
        }

  <div class="bg-white p-4 shadow-sm mx-auto mt-3" style="max-width: 600px;">
    <h3 class="mb-3 fs-2">Sign up for Forage</h3>
    <p class="mb-2 fs-6 text-muted">Discover your next great meal</p>

    <small class="text-muted mb-2 d-block">All fields required</small>
    <form
      asp-action="Register"
      asp-controller="Account"
      method="POST"
      novalidate
      class="needs-validation mb-4 login-form"
    >
      <input type="hidden" asp-for="AccountType" value="Business" />
      <div class="form-group pb-2">
        <label asp-for="EmailAddress" class="text-muted small"
          >Email address</label>
        <input
          asp-for="EmailAddress"
          type="email"
          class="form-control"
          required/>
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
      </div>

      <div class="row">
        <div class="form-group col-md-6 pb-2">
          <label asp-for="FirstName" class="text-muted small">First Name</label>
          <input
            asp-for="FirstName"
            type="text"
            class="form-control"
            required
          />
          <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6 pb-2">
          <label asp-for="LastName" class="text-muted small">Last Name</label>
          <input asp-for="LastName" type="text" class="form-control" required />
          <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
      </div>
      <div class="form-group pb-2 position-relative">
        <label asp-for="Password" class="text-muted small">Password</label>
        <input
          asp-for="Password"
          type="password"
          class="form-control"
          required
        />
        <span asp-validation-for="Password" class="text-danger"></span>
      </div>
      <div class="form-group pb-4 mb-2">
        <label asp-for="ConfirmPassword" class="text-muted small"
          >Confirm password</label>
        <input
          asp-for="ConfirmPassword"
          type="password"
          class="form-control"
          required/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-lg w-100 d-flex justify-content-center btn-submit"
      >
        <span> Sign Up</span>
      </button>

      <div class="small text-center mt-4">
        <span class="text-muted"> Already have an account?</span>
        <a class="link text-center d-block" href="/login">Login</a>
      </div>
    </form>
  </div>
</div>
