@using Forage.ViewModels 
@model Forage.ViewModels.RegisterViewModel
@{
  ViewData["Title"] = "Signup";
}

<div class="container my-3">
<partial name="_Alerts" />

  <div class="bg-white p-4 shadow-sm mx-auto rounded mt-3" style="max-width: 600px">
    <h3 class="mb-3 fs-2">Sign up for Forage</h3>
    <p class="mb-2 fs-6 text-muted">Discover your next great meal</p>

    <form
      asp-action="Register"
      asp-controller="Account"
      method="POST"
      asp-antiforgery="true"
      enctype="multipart/form-data"
      class="needs-validation mb-4"
      novalidate
    >

      <div class="row mb-2">
        <div class="form-group col-md-6 pb-2">
          <label asp-for="FirstName" class="text-muted small">First Name</label>
          <input
            asp-for="FirstName"
            type="text"
            class="form-control"
            required
          />
          <span class="invalid-feedback">Please enter your first name.</span>
          <span asp-validation-for="FirstName" class="text-danger small"></span>
        </div>
        <div class="form-group col-md-6 pb-2">
          <label asp-for="LastName" class="text-muted small">Last Name</label>
          <input asp-for="LastName" type="text" class="form-control" required />
           <span class="invalid-feedback">Please enter your last name</span>
          <span asp-validation-for="LastName" class="text-danger small"></span>
        </div>


     <div class="form-group mb-3">
   <h2 class="small text-muted">Account Type</h2>
    <div class="form-check-inline">
        <input checked class="form-check-input me-1" type="radio" asp-for="AccountType" value="Foodie" name="AccountType" id="AccountTypeFoodie" />
        <label class="form-check-label" for="AccountTypeFoodie">Foodie</label>
    </div>
      <div class="form-check-inline">
          <input class="form-check-input me-1" type="radio" asp-for="AccountType" value="Owner" name="AccountType" id="AccountTypeBusiness" />
          <label class="form-check-label" for="AccountTypeBusiness">Business</label>
      </div>
    </div>

      <div class="form-group mb-2">
        <label asp-for="ProfilePicture" class="small text-muted"></label>
        <input asp-for="ProfilePicture" type="file" accept="image/*" class="form-control" id="profilePicture" />
        <span class="text-danger small d-none" id="sizeWarning"> Profile picture must be less than 2mb</span>
      </div>

       <div class="form-group pb-2">
        <label asp-for="EmailAddress" class="text-muted small">Email address</label>
          <input
          asp-for="EmailAddress"
          type="email"
          minlength="5"
          maxlength="50"
          class="form-control"
          required
        />
        <span class="invalid-feedback">Invalid email</span>
        <span asp-validation-for="EmailAddress" class="text-danger small"></span>
      </div>

      <div class="form-group pb-2 position-relative">
        <label asp-for="Password" class="text-muted small">Password</label>
        <input
          asp-for="Password"
          type="password"
          class="form-control"
          required
          minlength="8"
        />
        <span class="invalid-feedback">Password must be at least 8 characters</span>
        <span asp-validation-for="Password" class="text-danger small"></span>
      </div>
      <div class="form-group pb-4 mb-2">
        <label asp-for="ConfirmPassword" class="text-muted small"
          >Confirm password</label>
        <input
          asp-for="ConfirmPassword"
          type="password"
          class="form-control"
          required
        />
        <span class="invalid-feedback">Please confirm your password</span>
        <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-lg w-100 d-flex justify-content-center btn-submit"
      >
         <span class="spinner-border me-3 d-none" role="status" aria-hidden="true"></span>
          <span>Sign Up</span>
      </button>

      <div class="small text-center mt-4">
        <span class="text-muted"> Already have an account?</span>
        
        <a class="link text-center d-block" href="/login">Login</a>
      </div>
    </form>
  </div>
</div>
<script>
  (function () {

    const form = document.querySelector('.needs-validation');
    const profilePicture = document.getElementById('profilePicture');
    const sizeWarning = document.getElementById('sizeWarning');
    const spinner = form.querySelector('.spinner-border');


    const uploadTooLarge = () => {
      // reset validation
      profilePicture.classList.remove('is-valid');
      profilePicture.classList.remove('is-invalid');
      sizeWarning.classList.add('d-none');

      const fileSize = (profilePicture?.files[0]?.size / 1024 / 1024) || 0; // in MB
      const maxSize = 2; // maximum allowed size in MB

      if (fileSize > maxSize) {
        sizeWarning.classList.remove('d-none');
        profilePicture.value = '';
        profilePicture.classList.add('is-invalid');
        profilePicture.files = [];

        return true;
      } else {

        profilePicture.classList.add('is-valid');
        return false;

      }
    }

    profilePicture.addEventListener('change', uploadTooLarge);

    form.addEventListener('submit', (event) => {

      if(uploadTooLarge() || !form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      } else {
        spinner.classList.remove('d-none');
      }

      form.classList.add('was-validated');

    }, false);
  })();
</script>

