@using Forage.ViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "Sign up";
}

<div class="container my-3">
    <div class="bg-white p-4 shadow-sm mx-auto mt-3 card-max-width">
        <h3 class="mb-3 fs-2">Sign up for Forage</h3>
        <p class="mb-2 fs-6 text-muted">Discover your next great meal</p>
    
        <small class="text-muted mb-2 d-block">All fields required</small>
        <form action='/register' method="POST" novalidate class="needs-validation mb-4 login-form">
            <div class="form-group pb-2">
                <label class="text-muted small" for="businessName">Business Name</label>
                <input type="text" class="form-control" id="businessName" name="account[name]" required>
            </div>
            <h6 class="my-2">Administrator Details</h6>
            <div class="row">
                <div class="form-group col-md-6 pb-2">
                    <label class="text-muted small" for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="user[firstName]" required>
                </div>
                <div class="form-group col-md-6 pb-2">
                    <label class="text-muted small" for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="user[lastName]" required>
                </div>
            </div>
            <div class="form-group pb-2 position-relative">
                <label class="text-muted small" for="username">Username</label>
                <input type="text" class="form-control" id="username" name="user[username]" required>
                <div class="invalid-feedback">
                    Please enter a unique username.
                </div>
            </div>
            <div class="form-group pb-4 mb-2">
                <label class="text-muted small" for="password">Password</label>
                <input type="Password" class="form-control" id="password" name="user[password]" required>
                <div class="invalid-feedback">
                    Please enter a valid password.
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100 d-flex justify-content-center btn-submit"><span> Sign Up</span></button>

            <div class="small text-center mt-4"><span class="text-muted "> Already have an account?</span> <a class="link text-center d-block" href="/login">Login</a></div>
        </form>
    </div>
</div>
