@{ var restaurants = ViewBag.Restaurants as IEnumerable<Forage.Models.Restaurant
  >; }

  <!-- MOBILE FILTER -->
  <!-- MOBILE FILTER BUTTON -->
  <div class="d-md-none mb-3">
    <button
      type="button"
      class="btn text-primary ms-auto d-block fs-3"
      data-bs-toggle="modal"
      data-bs-target="#filterModal"
    >
      <i class="bi bi-filter-circle"></i>
    </button>
  </div>
  <!-- MOBILE FILTER MODAL -->
  <div
    class="modal fade"
    id="filterModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="filterModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="get" action="/restaurants">
          <div class="modal-header">
            <h5 class="modal-title" id="filterModalLabel">Filter Options</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- Cuisine Filters -->
            <div class="py-3 border-bottom border-muted">
              <h6 class="fw-semibold">Cuisine</h6>
              @foreach (CuisineType cuisine in
              Enum.GetValues(typeof(CuisineType))) {
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="cuisines"
                  value="@cuisine"
                />
                <label class="form-check-label">@cuisine</label>
              </div>
              }
            </div>

            <!-- Price Filters -->
      <div class="py-3 border-bottom border-muted">
        <h6 class="fw-semibold">Pricing</h6>
        @foreach (PricingOption pricing in
        Enum.GetValues(typeof(PricingOption))) {
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="pricing"
            value="@pricing"
          />
          <label class="form-check-label">
          @(pricing switch
            {
                PricingOption.CheapEats => "$ Cheap Eats",
                PricingOption.BudgetFriendly => "$$ Budget Friendly",
                PricingOption.MidRange => "$$$ Mid Range",
                PricingOption.FineDining => "$$$$ Fine Dining",
            })
          </label>
        </div>
        }
      </div>

            <!-- Diet Filters -->
            <div class="border-bottom border-muted py-3">
              <h6 class="fw-semibold">Dietary Restrictions</h6>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="vegetarian"
                />
                <label class="form-check-label"> Vegetarian </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="vegan" />
                <label class="form-check-label"> Vegan </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="glutenFree"
                />
                <label class="form-check-label"> Gluten-Free </label>
              </div>
            </div>

            <!-- Dining Options -->
            <div class="py-3 border-bottom border-muted">
              <h6 class="fw-semibold">Dining Options</h6>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="dineIn" />
                <label class="form-check-label"> Dine In </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="takeAway"
                />
                <label class="form-check-label"> Take Away </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="booking"
                />
                <label class="form-check-label"> Online Booking </label>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Apply Filters</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</Forage.Models.Restaurant>
