@model IEnumerable<Restaurant>

@{
    ViewData["Title"] = "Restaurants";
}
<div class="container">  
     <div
        class="border-bottom border-muted my-3 pb-2 d-flex justify-content-between align-items-center"
      >
        <h1 class="fs-3">Restaurants: Sydney</h1>
        </div>
    <div class="row">

    <div class="col-12 col-md-3">
      <form action="" method="GET">
        <div class="bg-white shadow-sm p-2 rounded" style="min-width: 100px">
          <div
            class="accordion accordion-flush border-top border-muted"
            id="accordionFlushExample"
          >
            <div class="accordion-item accordian-custom">
              <h2
                class="accordion-header accordian-custom"
                id="flush-headingOne"
              >
                <button
                  class="accordion-button accordian-custom collapsed p-1 py-2"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Cuisine
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne"
              >
                <div class="accordion-body accordian-custom">
                  <div class="form-check px-2 py-0">
                    <input
                      class="form-check-input check-filter"
                      type="checkbox"
                      id="catAll"
                    />
                    <label class="form-check-label" for="catAll"> Italian </label>
                  </div>

                </div>
              </div>
            </div>
             <button class="btn btn-sm btn-primary mt-2 " type="submit">
          Update
        </button>
          </div>
          
        </div>
        
      </form>
     
    </div>

    <div class="col-12 col-md-9 pb-4">
       <div class="text-dark  bg-white d-flex align-items-start border-bottom border-muted shadow-sm mb-3 rounded"
			>
 <div class="rounded p-3">
    <img class="rounded"    src="https://images.pexels.com/photos/13814644/pexels-photo-13814644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" 
				 style="width: 200px;
  height: 150px;
  object-fit: cover;" />
  </div>
  <div class="d-flex flex-grow-1">
    <div class="p-3 w-100">
      <a class="text-dark" href="">
        <h2 class="fs-4">Restaurant Name</h2>
      </a>
      <div>
        <i class="bi bi-star-fill text-primary"></i>
        <i class="bi bi-star-fill text-primary"></i>
        <i class="bi bi-star-fill text-primary"></i>
        <i class="bi bi-star-fill text-primary"></i>
        <span>(127)</span>
      </div>
      <div class="text-muted">
        <span>Italian</span>
        &#8226;
        <span>$$</span>
      </div>
      <div>
        <div>
          <i class="bi bi-check2-circle text-success"></i
          ><span class="ms-2 text-muted">Vegetarian Options</span>
        </div>
      </div>
      <button class=" d-block ms-auto btn btn-sm btn-primary">Book a table</button>
    </div>
  </div>
 
</div>

    </div>
  </div>
  </div>

