@{ ViewData["Title"] = "Home Page"; }

<section class="hero hero__img">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Discover Newcastle's Best Restaurants</h1>
        <p>
          Forage is your go-to guide for finding best food in the Steel City.
        </p>
        <a href="/restaurants" class="btn btn-primary btn-lg">Discover</a>
      </div>
    </div>
  </div>
</section>
